
.div{
    margin: 15px auto;
  }
  .div input{
      width: 90%;
      height: 4vh;
  }
  .reg-btn{
      background-color: rgb(33, 33, 203);
      height: 30px;
      width: 200px;
      border: none;
      color:white
  }
  