#main-home-div {
    width: 100vw;
    height: auto;
    margin: 33px;
}

/* #header h2{
    
} */
#header {
    width: 50%;
    height: 20vh;
    background-color: rgb(112, 119, 128);
    margin: auto;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    position: relative;
}
#header button{
    background-color: rgb(171, 18, 18);
    width: 20%;
    height: 5vh;
    color: white;
    position: absolute;
    bottom: 13%;
    left: 10%;
   border: none;
    /* margin-top: -73px; */
}
#edit, #delete{
    width: 20%;
    height: 5vh;
    color: white; 
    background-color: rgb(171, 18, 18);
    margin: 1%;
}
#edit{
    background-color: rgb(51, 18, 171);  
}

form {
    margin: 3% auto;
    border: 1px solid black;
    width: 30%;
    height: 30vh;
    padding: "3%"
}

input {
    width: 80%;
    height: 3vh;
}

label {
    display: block;
    text-align: left;
    margin-left: 7%;
}

main {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 2%;
}

main #img-div {
    width: 40%;
    border: 1px solid black;
    
    /* margin-left: 5%; */
}

main div img {
    width: 90%;
    margin-left: 10%;
}
